.container {
    width: 85%;
    margin: auto;
    background-color: #33997987;
    color: black;
}
.mainContent {
    background-color: bisque;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    padding-right: 20px;
}
table {
    margin: auto;
}
.table td{
    padding-bottom: 15px;
}
.submit{
    padding: 5px 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold ;
    color: black;
}
